* {
  box-sizing: border-box;
}

/* --- Header --- */

header {
  height: 150px;
  border: 5px solid black;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 25px;
} 

a {
  text-decoration: none;
} 

body > header {
  position: relative;
  top: 15px;
}

body > header, footer {
  margin: auto;
  width: 100%;
} 
 
body > header > .logo {
  float: left;
} 

body > header > nav,
body > header > nav > ul {
  float: right;
  position: relative;
  top: 20px;
} 

/* --- Body --- */

body {
  background-color: whitesmoke;
} 

/* --- Main --- */

main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 25px;
}

h3 {
  display: inline;
  font-size: 20px;
}

p {
  font-size: 15px;
  padding-bottom: 5px;
}

h2 {
  font-size: 30px;
}

.hub {
  margin-top: 50px;
}


/* --- Study Page --- */

.dot {
    height: 28px;
    width: 28px;
    background-color: #bbb; 
    border-radius: 50%;
    display: inline-block;
  }

div {
    visibility: hidden;
   
}

/* --- Buttons and forms --- */

#reset {
  position: absolute;
  top: 430px;
  left: 300px;
  height: 100px;
  width: 100px;
}

#dot1 {
  position: absolute;
  top: 280px;
  left: 80px;
}

#dot2 {
  position: absolute;
  top: 288px;
  left: 248px;
}

#dot3 {
  position: absolute;
  top: 235px;
  left: 430px;
}

#dot4 {
  position: absolute;
  top: 365px;
  left: 525px;
}

#dot5 {
  position: absolute;
  top: 570px;
  left: 537px;
}

#dot6 {
  position: absolute;
  top: 700px;
  left: 432px;
}

#dot7 {
  position: absolute;
  top: 630px;
  left: 234px;
}

#dot8 {
  position: absolute;
  top: 479px;
  left: 90px;
}

#div1 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div2 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div3 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div4 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div5 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div6 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div7 {
  position: absolute;
  top: 300px;
  right: 300px;
}

#div8 {
  position: absolute;
  top: 300px;
  right: 300px;
}


/* --- About us --- */

 .person1, .person2, .person3 {
  display: inline-block; 
  margin: 35px 35px;
  vertical-align: top;
} 

.profile {
  color: black;
  float: left;
  width: 25%;
  text-align: center;
}


/* --- Footer --- */

/* footer {
  height: 100px;
  background-color: #7b0f0f;
  color: #E19797;
  border: 5px solid black;
  font-family: 'Architects Daughter';
  font-size: 30px;
  text-align: center;
} */


/* --- Things francesco is messing with --- */

/* -- concept 2 -- */

/* footer {
  height: 100px;
  background-color: #1139CB;
  color: #91A1DD;
  border: 5px solid black;
  font-family: 'Architects Daughter';
  font-size: 30px;
  text-align: center;
} */

/* -- concept 3 -- */

/* footer {
  height: 100px;
  background-color: #B104D6;
  color: #D28AE1;
  border: 5px solid black;
  font-family: 'Architects Daughter';
  font-size: 30px;
  text-align: center;
} */

/* -- concept 4 -- */

footer {
  height: 100px;
  background-color: rgb(225, 125, 245);
  color: white;
  border: 5px solid black;
  font-family: 'Architects Daughter';
  font-size: 30px;
  text-align: center;
}

/* -- concept 5 -- */

/* footer {
  height: 100px;
  background-color: rgb(221, 115, 115);
  /* \\\color: #210000; 
  border: 5px solid black;
  font-family: 'Architects Daughter';
  font-size: 30px;
  text-align: center;
} */


/* body{ 
background: rgb(1,66,81);
background: linear-gradient(90deg, rgba(1,66,81,1) 0%, rgba(4,157,193,1) 30%, rgba(0,212,255,1) 92%); 
} */

/* body{ 
background: rgb(33,0,0);
background: linear-gradient(90deg, rgba(33,0,0,1) 0%, rgba(123,15,15,1) 25%, rgba(225,151,151,1) 89%); 
} */

/* body {
background: rgb(77,1,93);
background: linear-gradient(90deg, rgba(77,1,93,1) 0%, rgba(177,4,214,1) 25%, rgba(210,138,225,1) 89%);
} */

/* body {
background: rgb(76,73,77);
background: linear-gradient(90deg, rgba(76,73,77,1) 0%, rgba(162,150,164,1) 25%, rgba(210,138,225,1) 89%); 
} */