* {
  box-sizing: border-box;
  font-family: 'Architects Daughter';
  font-size: 20px;
}

/* --- Header --- */

header {
  height: 150px;
  border: 5px solid rgb(152, 241, 222);
  background-color: rgb(152, 241, 222);
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 25px;
} 

a {
  text-decoration: none;
  color: white;
} 

body > header {
  position: relative;
  top: 15px;
}

body > header, footer {
  margin: auto;
  width: 90%;
  min-width: 725px;
} 
 
body > header > .logo {
  float: left;
  padding-top: 13px;
  padding-left: 10px;
} 

body > header > nav,
body > header > nav > ul {
  float: right;
  position: relative;
  top: 20px;
  font-family: 'Architects Daughter';
  font-size: 35px;
} 

.fade {
  opacity:1;
}

.fade:hover {
  opacity: 0.5;
}

/* --- Body --- */

body {
  background-image: url(../images/paperbackground.jpg);
  background-size: 100%;
}

/* --- Main --- */

main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 25px;
}

h3 {
  display: inline;
  font-size: 25px;
}

main > p {
  font-size: 15px;
  padding-bottom: 5px;
}

h2 {
  font-size: 35px;
  padding-top: 10px;
}

.hub {
  margin-top: 50px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

/* --- Study Page --- */

#hubContainer {
  position: relative;
}

.dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
  }

.question-container {
    visibility: hidden;
   
}

/* --- Buttons and forms --- */

#reset {
  position: absolute;
  top: 254px;
  left: 233px;
  height: 100px;
  width: 100px;
}

#dot1 {
  position: absolute;
  top: 101px;
  left: 12px;
}

#dot2 {
  position: absolute;
  top: 109px;
  left: 178px;
}

#dot3 {
  position: absolute;
  top: 59px;
  left: 358px;
}

#dot4 {
  position: absolute;
  top: 187px;
  left: 454px;
}

#dot5 {
  position: absolute;
  top: 392px;
  left: 468px;
}

#dot6 {
  position: absolute;
  top: 520px;
  left: 361px;
}

#dot7 {
  position: absolute;
  top: 452px;
  left: 163px;
}

#dot8 {
  position: absolute;
  top: 301px;
  left: 19px;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
  position: absolute;
  top: 300px;
  left: 700px;
}

/* --- Flashcard --- */

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
  border-style: outset;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
  padding: 30px;
  width: 500px;
  height: 375px;
  background-image: url(../images/paper3.jpg);
}


#div1 p, #div2 p, #div3 p, #div4 p, #div5 p, #div6 p, #div7 p, #div8 p {
  font-family: 'Inconsolata';
}

button {
  margin: 5px 5px 5px 0px;
  display: inline;
}

form {
  display: inline;
}


/* --- About us --- */

 .person1, .person2, .person3 {
  display: inline-block; 
  vertical-align: top;
  text-align: center;
} 

.profile {
  color: black;
  float: left;
  width: 30%;
  text-align: center;
  margin: 10px 15px 50px 15px;
  font-size: 20px;
}



/* --- Footer --- */

 footer {
  height: 100px;
  background-color: rgb(152, 241, 222);
  color: white;
  border: 5px solid rgb(152, 241, 222);
  font-family: 'Architects Daughter';
  text-align: center;
  clear: both;
  bottom: 0;
} 

footer span {
  font-size: 25px;
}