* {
  box-sizing: border-box;
  font-family: 'Architects Daughter';
}

/* --- Header --- */

header {
  height: 150px;
  border: 5px solid #3BDCE4;
  background-color: #8df4fa;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 25px;
} 

a {
  text-decoration: none;
  color: white;
} 

body > header {
  position: relative;
  top: 15px;
}

body > header, footer {
  margin: auto;
  width: 90%;
} 
 
body > header > .logo {
  float: left;
} 

body > header > nav,
body > header > nav > ul {
  float: right;
  position: relative;
  top: 20px;
  font-family: 'Architects Daughter';
  font-size: 35px;
} 

.fade {
  opacity:1;
}

.fade:hover {
  opacity: 0.5;
}

/* --- Body --- */

body {
  background-image: url(../images/paper2.jpg);
  background-size: 100%;
}

/* --- Main --- */

main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 25px;
}

h3 {
  display: inline;
  font-size: 25px;
}

main > p {
  font-size: 15px;
  padding-bottom: 5px;
}

h2 {
  font-size: 35px;
  padding-top: 10px;
}

.hub {
  margin-top: 50px;
}


/* --- Study Page --- */

.dot {
    height: 28px;
    width: 28px;
    background-color: #bbb; 
    border-radius: 50%;
    display: inline-block;
  }

div {
    visibility: hidden;
   
}

/* --- Buttons and forms --- */

#reset {
  position: absolute;
  top: 430px;
  left: 300px;
  height: 100px;
  width: 100px;
}

#dot1 {
  position: absolute;
  top: 280px;
  left: 80px;
}

#dot2 {
  position: absolute;
  top: 288px;
  left: 248px;
}

#dot3 {
  position: absolute;
  top: 235px;
  left: 430px;
}

#dot4 {
  position: absolute;
  top: 365px;
  left: 525px;
}

#dot5 {
  position: absolute;
  top: 570px;
  left: 537px;
}

#dot6 {
  position: absolute;
  top: 700px;
  left: 432px;
}

#dot7 {
  position: absolute;
  top: 630px;
  left: 234px;
}

#dot8 {
  position: absolute;
  top: 479px;
  left: 90px;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
  position: absolute;
  top: 300px;
  left: 700px;
}

/* --- Flashcard --- */

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
  border-style: outset;
  border-radius: 10px;
  box-shadow: 10px 10px 5px black;
  padding: 30px;
  width: 500px;
  height: 300px;
  background-image: url(../images/paper3.jpg);
}


button {
  margin: 5px 5px 5px 0px;
  display: inline;
}

form {
  display: inline;
}


/* --- About us --- */

 .person1, .person2, .person3 {
  display: inline-block; 
  margin: 35px 35px;
  vertical-align: top;
} 

.profile {
  color: black;
  float: left;
  width: 25%;
  text-align: center;
}


/* --- Footer --- */

 footer {
  height: 100px;
  background-color: #8df4fa;;
  color: white;
  border: 5px solid #3BDCE4;
  font-family: 'Architects Daughter';
  text-align: center;
} 

footer span p {
  font-size: 25px;
}