/* * {
  box-sizing: border-box;
}*/

body {
  background-color: whitesmoke;
} 

body > header {
  position: relative;
  top: 15px;
}


body > header, main, footer {
  margin: auto;
  width: 100%;
} 
 
body > header > .logo {
  float: left;
} 

header {
  height: 150px;
}

body > header > nav,
body > header > nav > ul {
  float: right;
  position: relative;
  top: 20px;
} 

nav li {
  display: inline-block;
  margin: 0;
  padding: 25px;
} 

a {
  text-decoration: none;
} 
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
div {
    visibility: hidden;
   
}

 .person1, .person2, .person3 {
  display: inline-block; 
  margin: 35px 35px;
  vertical-align: top;

} 
